@use '../styles/abstracts/colors' as *;

.container {
  display: flex;
  column-gap: 2rem;
  align-items: center;

  padding: 1rem 1.5rem;
  border-radius: 2.5rem;
  margin-bottom: 4rem;
  background-color: $clr-input;

  input {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: 100%;

    border: none;
    outline: none;
    background-color: transparent;
    overflow: hidden;

    &::placeholder {
      color: $clr-label;
    }
  }
}
