$clr-normal: #a8a878;
$clr-grass: #78c850;
$clr-fire: #fb6c6c;
$clr-water: #429bed;
$clr-electric: #f6c747;
$clr-psychic: #7c538c;
$clr-rock: #b1736c;
$clr-bug: #48d0b0;
$clr-poison: #9f5bba;
$clr-ground: #795548;
$clr-fairy: #f85888;
$clr-fighting: #fc5849;
$clr-ghost: #7038f8;
$clr-ice: #7ac7ff;
$clr-dragon: #f5a018;
$clr-dark: #303943;
$clr-steel: #bababa;

$clr-label: #737373;
$clr-input: #f5f5f5;
$clr-link: #9da6e7;

$types: (
  normal: $clr-normal,
  grass: $clr-grass,
  fire: $clr-fire,
  water: $clr-water,
  electric: $clr-electric,
  psychic: $clr-psychic,
  rock: $clr-rock,
  bug: $clr-bug,
  poison: $clr-poison,
  ground: $clr-ground,
  fairy: $clr-fairy,
  fighting: $clr-fighting,
  ghost: $clr-ghost,
  ice: $clr-ice,
  dragon: $clr-dragon,
  dark: $clr-dark,
  steel: $clr-steel,
);

// black = Color(#303943);
// blue = Color(#429BED);
// brown = Color(#B1736C);
// grey = Color(#303943);
// indigo = Color(#6C79DB);
// lightBlue = Color(#7AC7FF);
// lightBrown = Color(#CA8179);
// whiteGrey = Color(#FDFDFD);
// lightCyan = Color(#98D8D8);
// lighterGrey = Color(#F4F5F4);
// lightGrey = Color(#F5F5F5);
// lightPink = Color(#EE99AC);
// lilac = Color(#A890F0);
